<!-- Button trigger modal -->
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="radio">
    
            <label class="radioButton"><input  #service ng-model="result" ng-value="serviceProvider" (click)="onSubmitServiceProvider()" type="radio" name="optradio">I want to work on an idea</label>
            </div>
    
            <div class="radio">
            <label class="radioButton"><input #innovator ng-model="result" ng-value="innovator" (click)="onSubmitInnovator()" type="radio" name="optradio">I want to post an idea</label>
            </div>
        </div>
      
      </div>
    </div>
  </div>




<!-- 
  <button mat-button onclick="document.getElementById('signUp').style.display='block'"><h5>SIGN UP</h5></button>
  <div id="signUp" class="modal">
    <form class="modal-content animate" action="/action_page.php">
      <div class="imgcontainer">
      <span onclick="document.getElementById('signUp').style.display='none'"></span>
      </div>


      <div class="container">
        <div class="radio">
    
        <label class="radioButton"><input  #service ng-model="result" ng-value="serviceProvider" (click)="onSubmitServiceProvider(service.value)" type="radio" name="optradio">I want to work on an idea</label>
        </div>

        <div class="radio">
        <label class="radioButton"><input #innovator ng-model="result" ng-value="innovator" (click)="onSubmitInnovator(innovator.value)" type="radio" name="optradio">I want to post an idea</label>
        </div>
      </div>
    </form>
  </div>

<script>
var modal = document.getElementById('signUp');
window.onclick = function(event) {
if (event.target == modal) {
    modal.style.display = "none";
    }
}
</script>

 -->
