
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<section class="blue-gradient login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Registration</h2>
        <form>
          <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
                <input #emailId name="" class="form-control" placeholder="Email address" type="email">
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
                  <input #password class="form-control" placeholder="Create password" type="password">
              </div> <!-- form-group// -->


      <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
            <input #name name="" class="form-control" placeholder="Full name" type="text">
        </div> <!-- form-group// -->

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-briefcase"></i></span>
             </div>
                <input #domain name="" class="form-control" placeholder="Domain" type="text">
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-code-branch"></i></span>
              </div>
              <mat-select #subDomains class="form-control" placeholder="Subdomain" multiple>
                <mat-option  *ngFor="let subDomain of subDomainList" [value]="subDomain">{{subDomain.subdomain}}</mat-option>
             </mat-select>
               <!-- <button (click)="onClick(subDomains.value)" mdbBtn color="BLACK" outline="true" mdbWavesEffect>SAVE</button> -->

              <button (click)="onClick(subDomains.value)" class="btn btn-outline-dark mt auto">Save</button>
      
            </div>

      
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-id-card-alt"></i> </span>
        </div>
        
          <input #role name="" class="form-control" placeholder="Role" type="text">
        </div> 
         

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-wrench"></i></span>
        </div>
        <mat-select  #skills class="form-control" placeholder="Skills" multiple>
          <mat-option  *ngFor="let skills of skillsList" [value]="skills">{{skills.skills}}</mat-option>
       </mat-select>

       <button (click)="onClickSkills(skills.value)" class="btn btn-outline-dark mt auto">Save</button>

        </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-address-card"></i> </span>
              </div>
              
                <textarea #about name="" class="form-control" placeholder="About"></textarea>
              </div> <!-- form-group// -->


                <div class="form-group input-group">
                    <div class="input-group-prepend">
                     <span class="input-group-text"><i class="fa fa-money-bill-alt"></i></span>
                  </div>
                      <input #chargePerHour class="form-control" placeholder="Charge Per Hour" type="text">
                  </div> <!-- form-group// -->
                              
        <div class="form-grouping">
           
          <!-- <button type="submit" class="btn btn-primary btn-block"> Create Account  </button> -->
            <button class="btnIdea btn btn-outline-dark mt auto" (click)="register(emailId.value, password.value,name.value,domain.value,role.value,about.value,chargePerHour.value)">Create Account</button>
       
          </div> <!-- form-group// -->      
        <p class="text-center">Have an account? <a href="/login">Log In</a> </p>                                                                 
    </form>
    </div>
    

    <div class="col-md-8 banner-sec">
     <img src="https://static.pexels.com/photos/33972/pexels-photo.jpg" class="img-fluid">
  </div>
  
  
</div>
</div>
</section>















