<div class="bg">
  <header>
  <!--Navbar-->
  <mdb-navbar SideClass="blue-gradient navbar navbar-expand-lg" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="#">COLLAB-JUNCTION</a></mdb-navbar-brand>



  </mdb-navbar>
  <!--/.Navbar-->
  
</header>
<!-- details card section starts from here -->
<section id="ideas" class="pb-5">
  <div class="container" style="margin-top: 100px">
    <h2 class="h1-responsive font-weight-bold text-center my-5">IDEAS</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">
      <mat-form-field appearance="outline">
        <!-- <mat-label>Search Track</mat-label> -->
        <input #input matInput placeholder=" Enter Idea Name">
        <!-- <mat-icon matSuffix>search</mat-icon> -->
    </mat-form-field>
    <a class="mr-sm-2" style="font-size: 24px;" (click)="search(input.value)" mdbBtn color="black" outline="true" mdbWavesEffect>SEARCH</a>

    <!-- <button (click)="search(input.value)" type="button" class="btn btn-danger">SEARCH</button> -->
    </p>

    <div class="row">


                      <div class="row">
                          <div class="wow animated flipInX col-sm-3 card" *ngFor="let array of arrayOfIdeas">
                  
                              <div class="card-body text-center">
                                  <!-- <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p> -->
                                  <h5 #title class="card-title"><i class="fas fa-lightbulb"></i> <b>   {{array.domain | uppercase}}</b></h5>
                                  <h4 #title class="card-title"><b>{{array.title | uppercase}}</b></h4>
                                  <p class="card-text" style="text-align:justify">{{array.description}}</p>
                                  <p class="card-text" ><b>Roles required : </b> <br> {{array.roles}}</p>

                                </div>
                                  <div class="card-footer text-center">
                                      <a style="font-size: 24px;" (click)="applyForAnIdea(array.title)" mdbBtn color="black" outline="true" mdbWavesEffect><strong><b>APPLY</b></strong></a>

                                  <!-- <a (click)="applyForAnIdea(array.title)" class="btn btn-primary align-self-end btn-sm">APPLY</a> -->
                                  </div>
                              
                          </div>
                      </div>
                  
                  </div>
              
          </div>
        
   
</section>
</div>
<!-- Team -->

<app-footer></app-footer>

