.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%)
}
.bg{
  // background: url('https://images.pexels.com/photos/5412/water-blue-ocean.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500') repeat;
//  background-color: #161f52;
  // height: 1000px; 
  // max-height: 100vh;
  background-position: center;
  background-size: cover;
  // position: absolute;
}
 
.navbar-brand {
  text-decoration: none;
  color:white;
  font-size: 24px;
}
// a{
//   color: white;
// }

mat-form-field{
  width:50%;
  border-color: black;
  border-width: 1px;

}
#input{
  color:black;
}

.nav-item{
  color: black;
}

.applied{
  background-color: black;
  color: white;
}



.track-card {
    margin: 15px;
    bottom: 20%;
    top:20%;
  }
  
  .track-card:hover {
    box-shadow: 10px 10px 10px black;
  }
  
  button {
    font-size: 25px;
    margin: 5px;
    background-color: black;
    padding-bottom:10%;
  }
  
  .d-none {
    display: none;
  }
  
  button:hover {
    box-shadow: 5px 5px black;
  }

  /* Required for full background image */

.btn-danger{
  height: 58px;
}
.card{
  margin-right: 20px;
  margin-bottom: 20px;
  
}

.row{
  justify-content: space-evenly;
}

.card .card-body .card-text{
  font-size: 20px;
  color:black;
}

// .text-center{
//   padding-bottom:10%;
// }