       <!--Navbar-->
       <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <mdb-navbar-brand>
              <a class="logo navbar-brand waves-light" mdbWavesEffect routerLink="/home"><strong><b>COLLAB-JUNCTION</b></strong></a>
            </mdb-navbar-brand>
            <links>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                  <a class="nav-link" #hom routerLink="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" routerLink="/login">Log In</a>
                </li>
  
                <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" #abt routerLink="#">About</a>
                </li>

                    <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
  
                <!-- <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" routerLink="/signupModal" >Sign Up</a>
                </li> -->
  
              </ul>            
            </links>
          </mdb-navbar>
<section id="ideas" class="pb-5">
    <div class="container" style="margin-top: 100px">
        <h5 class="section-title h1">IDEAS</h5>
        <div class="row">



            <!-- <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form> -->

                <mat-form-field appearance="outline">
                        <mat-label>Search Track</mat-label>
                        <input #input matInput placeholder=" Enter Track Name">
                        <button (click)="search(input.value)">SEARCH</button>
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                        <div class="row">
                            <div class="col-sm-3 card" *ngFor="let array of arrayOfIdeas">
                    
                                <div class="card-body text-center">
                                    <!-- <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p> -->
                                    <h4 #title class="card-title">{{array.title}}</h4>
                                    <p class="card-text" style="text-align:justify">{{array.description}}</p>
                                    <a (click)="applyForAnIdea(array.title)" class="btn btn-primary btn-sm">APPLY</a>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                
            </div>
          
     
</section>
<!-- Team -->




    
