.navbar
{
  background-color: #dedfe0; 
  height: 120px;
}

.card-body {
	display: flex;
	flex-direction: column;
  }
  
  button.btn {
	margin-top: auto;
  }

h5	{
	font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.radioButton{
	margin-left: 250px;
	font-size: 18px;
    line-height: 30px;
    font-weight: 600;
}

.logo	{
	height: 110px;
	width: 110px;
}
.radio{
	background-color:white;

}



  .jumbotron	{
	height: 700px;
	text-align: center;
	margin-top: 20px;
	width: 100%;
	background-image: url('https://images.pexels.com/photos/1043506/pexels-photo-1043506.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); 
	color: lightblue;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;

}

.successStories {
	margin-top: 20px;
	height: 300px;
}

/* .button{
	background-color: #4CAF50; 

} */

/* .card   {
    display: flex;
} */

body {
	font-family: Arial, Helvetica, sans-serif;
	
  }
 
  /* Float four columns side by side */
  .column {
	float: left;
	width: 25%;
	padding:  10px;
  }
 
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
 
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
 
  /* Style the counter cards */
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 16px;
	text-align: center;
	background-color: #dedfe0;
  }

  .card-text	{
	  text-align: justify;
  }
 
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  }
  body {font-family: Arial, Helvetica, sans-serif;}
 
  /* Full-width input fields */
  input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
 
  /* Set a style for all buttons */
  button {
	/* background-color: #4CAF50; */
	/* color: white; */
	/* padding: 14px 20px; */
	/* margin: 8px 0; */
	border: none;
	cursor: pointer;
	/* width: 100%; */
  }

  .footer	{
	  background-color: black;
	  text-decoration-color: white;

  }
 
  button:hover {
	opacity: 0.8;
  }
 

 
  Center the image and position the close button
  .imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
  }
 
  .container {
	padding: 16px;
  }
 
  span.psw {
	float: right;
	padding-top: 16px;
  }
 
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
  }
 
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 5% auto 55% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 100%; /* Could be more or less, depending on screen size */
	height: 100px;
  }
 
  .navbar-toggler-icon{
	  background-color: black;
	  color:white;
  }
 
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
 
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
  }
 
  @keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
  }
 
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw .modal-content{
	   display: block;
	   float: none;
	}
 
  }

  .card1 {
	margin: 0 auto;
	background-color: #dedfe0;


  }
  .card .carousel-item {
	height: 200px;
  }
  .card .carousel-caption {
	padding: 0;
	right: 0;
	left: 0;
	color: #3d3d3d;
  }
  .card .carousel-caption h3 {
	color: #3d3d3d;
  }
  .card .carousel-caption p {
	line-height: 30px;
  }
  .card .carousel-caption .col-sm-3 {
	display: flex;
	align-items: center;
  }
  .card .carousel-caption .col-sm-9 {
	text-align: left;
  }
  .navi a {
	  text-decoration:none;
  }
  /* a > .ico {
	  background-color: grey;
	  padding: 10px;
	  
  } */
  /* a:hover > .ico {
	  background-color: #666;
  } */
 .body-image{
	 background-image: url("https://1800cabinetwholesalers.com/wp-content/uploads/2014/12/wood-background.jpg")
 }
 button:hover {
	opacity: 0.8;
	background-color: black;
	color:white;
  }

  .btn-active{
	background-color: black;
	color:white;
}

@media (max-width: 300px) {
	#header .container {
	  width: 100%;
	  height: 50%;
	}
	#header h1 {
	  padding-left: 3%;
	}
	#nav {
	  width: 100%;
	  top: 60px;
	}
	#nav:before {
	  content: '\2630';
	  display: block;
	  position: absolute;
	  right: 3%;
	  top: -50px;
	  line-height: 40px;
	  font-size: 1.4em;
	  cursor: pointer;
	}
	#nav ul {
	  background: #222;
	  width: 100%;
	  margin: 0px;
	}
	#nav ul li {
	  float: none;
	}
	#nav ul li a {
	  padding: 10px 3%;
	  line-height: 20px;
	  border-top: 1px solid #333;
	}
  }
 



  