.navbar
{
  background-color:#c1d0e0; 
  height: 90px;
}

.card-body {
	display: flex;
	flex-direction: column;
  }
  
  button.btn {
	margin-top: auto;
  }

h5	{
	font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.radioButton{
	margin-left: 250px;
	font-size: 18px;
    line-height: 30px;
    font-weight: 600;
}

.logo	{
	height: 110px;
	width: 110px;

}



  .jumbotron	{
	height: 700px;
	text-align: center;
	margin-top: 20px;
	width: 100%;
	background-image: url('src/assets/img/pexels-photo-1068523 (2).jpg'); 
	color: lightblue;

}

.successStories {
	margin-top: 20px;
	height: 300px;
}

/* .button{
	background-color: #4CAF50; 

} */

/* .card   {
    display: flex;
} */

body {
	font-family: Arial, Helvetica, sans-serif;
	
  }
 
  /* Float four columns side by side */
  .column {
	float: left;
	width: 25%;
	padding:  10px;
  }
 
  /* Remove extra left and right margins, due to padding in columns */
  .row {
	  margin: 0 -5px;}
 
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
 
  /* Style the counter cards */
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 16px;
	text-align: center;
	background-color: #c1d0e0;
  }

  .card-text	{
	  text-align: justify;
  }
 
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  }
  body {font-family: Arial, Helvetica, sans-serif;}
 
  /* Full-width input fields */
  input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
 
  /* Set a style for all buttons */
  button {
	/* background-color: #4CAF50; */
	/* color: white; */
	/* padding: 14px 20px; */
	/* margin: 8px 0; */
	border: none;
	cursor: pointer;
	/* width: 100%; */
  }

 
  button:hover {
	opacity: 0.8;
	background-color: black;
	color:white;
  }
 

 
  Center the image and position the close button
  .imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
  }
 
  .container {
	padding: 16px;
  }
 
  span.psw {
	float: right;
	padding-top: 16px;
  }
 
  /* The Modal (background) */
  
 
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 5% auto 55% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
  }
 
  
 
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
 
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
  }
 
  @keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
  }
 
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	   display: block;
	   float: none;
	}
 
  }

  .card1 {
	margin: 0 auto;
	background-color: #a7bbd1;


  }
  .card .carousel-item {
	height: 200px;
  }
  .card .carousel-caption {
	padding: 0;
	right: 0;
	left: 0;
	color: #3d3d3d;
  }
  .card .carousel-caption h3 {
	color: #3d3d3d;
  }
  .card .carousel-caption p {
	line-height: 30px;
  }
  .card .carousel-caption .col-sm-3 {
	display: flex;
	align-items: center;
  }
  .card .carousel-caption .col-sm-9 {
	text-align: left;
  }
  .navi a {
	  text-decoration:none;
  }
 .btn-active{
	 background-color: black;
	 color:white;
 }
 .fullbody{
	 background-image: url("https://1800cabinetwholesalers.com/wp-content/uploads/2014/12/wood-background.jpg")
 }

 footer{
	 background-color: black;
 }
 

 



  