// body{
//   margin: 0;
// }
.bg{
    background: url('http://mithril-mdl.muchadev.com/assets/materialdesign.png');
    // height: 1000px; 
    // max-height: 100vh;
    background-position: center;
    background-size: cover;
    // position: absolute;
  }

  .rgba-gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%)
  }
   
  .navbar-brand {
    text-decoration: none;
    color:white;
  }
  a{
    color: white;
  }
  
  .nav-item{
    color: white;
  }
  
  
  
  .track-card {
      margin: 15px;
      bottom: 20%;
      top:20%;
    }
    
    .track-card:hover {
      box-shadow: 10px 10px 10px black;
    }
    
    button {
      font-size: 25px;
      margin: 5px;
      background-color: black
    }
    
    .d-none {
      display: none;
    }
    
    button:hover {
      box-shadow: 5px 5px black;
    }
  
    /* Required for full background image */
  
  .btn-danger{
    height: 58px;
  }
  .card{
    margin-right: 20px;
    margin-bottom: 20px;
    
  }
  
  .row{
    justify-content: space-evenly;
  }
  
  .card .card-body .card-text{
    font-size: 20px;
    color:black;
  }
  

  .applied{
    background-color: black;
    color: white;
  }
  
  .navbar-brand
  {
      font-size: 24px;
  }

  a{
    color: white;
    font-size: 24px;
}

.h1-responsive{
  color:white;
}

.wow {
  visibility:visible;
}

span.navbar-toggler-icon{
  background-color: white;
}

// body{
//   overflow-x:none;
// }