<form class="mat-dialog-content" id="id02">
  <div class="container">
    <h5 class="modal-title">POST YOUR IDEA</h5>
    <hr>
  </div>

    <form>
      <div class="form-group">
        <label>Idea title:</label>
        <input #ideaTitle type="text" class="form-control" required placeholder="Title">
      </div>

      
      <div class="form-group">
        <label>Description of your idea:</label>
        <textarea #ideaBio class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="6" placeholder="Describe what you want...."></textarea>
      </div>

      <div class="form-group">
        <label>Domain:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Select yours</label>
          </div>
          <select #ideaDomain class="custom-select" id="DomainSelector">
            <option selected></option>
            <option value="IT">IT</option>
            <option value="Tourism">Tourism</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>Sub-domain:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Select yours</label>
          </div>
          <select #ideaSubDomain class="custom-select" id="inputGroupSelect01">
            <option selected></option>
            <option value="Application Development">Application Development</option>
            <option value="Software Development">Software Development</option>
            <option value="Website Development">Website Development</option>
            <option value="Hardware Development">Hardware Development</option>
            <option value="Automation Development">Automation Development</option>
            <option value="Robotics">Robotics</option>
            <option value="Mobile Development">Mobile Development</option>
            <option value="Cloud Configuration">Cloud Configuration</option>
            <option value="Website Development">Website Development</option>
            <option value="Cultural Tourism">Cultural Tourism</option>
            <option value="Medical Tourism">Medical Tourism</option>
            <option value="Wildlife Tourism">Wildlife Tourism</option>
           


          </select>
        </div>
      </div>

      <div class="form-group">
        <label>Your budget(in $) :</label>
        <input #ideaBudget type="text" class="form-control" required>
      </div>
      <!-- Role here -->
      <tr>
        <td>
          <mat-form-field id="myFormat" class="example-chip-list">
            <mat-chip-list #chipList aria-label="Domain selection">
              <mat-chip *ngFor="let domain of domains" [selectable]="selectable" [removable]="removable"
                (removed)="remove(domain)">
                {{domain}}
                <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
              </mat-chip>
              <input   placeholder="Role" #domainInput [formControl]="domainCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let domain of filteredDomains | async" [value]="domain">
                {{domain}}
              </mat-option>

            </mat-autocomplete>
          </mat-form-field>
        </td>
      </tr>
      <div id="butt">
      <button (click)= "closeDialog()" mat-raised-button> Close Me</button>
      <button (click)="postIdea(ideaTitle.value,ideaDomain.value,ideaSubDomain.value,ideaBio.value,ideaBudget.value)" type="submit" class="postbtn"  mat-raised-button>Post</button>
     </div>
    </form>
  
</form>
