<header>
  <mdb-navbar SideClass="blue-gradient navbar navbar-expand-lg" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">COLLAB-JUNCTION</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="/home" class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="home"></mdb-icon> HOME <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/innovatorDashboard" class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="lightbulb"></mdb-icon> DASHBOARD
          </a>
        </li>

        <!-- <li class="nav-item">
          <a href="/innovatorProfile" class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="lightbulb"></mdb-icon> DASHBOARD
          </a>
        </li> -->

        <li class="nav-item">
          <a href="/home" class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="cog"></mdb-icon> LOG OUT
          </a>
        </li>



      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
</header>








<!-- body starts here -->


  <div class="mask rgba-gradient">
    <div class="container">
      <form class="mat-dialog-content" id="id02">
        <br>
        <br>
        <div class="row">
          <div class="col-sm">
            <h1 class="modal-title"><b>POST YOUR IDEA</b></h1>
          </div>
        </div>
        <hr>


        <div class="row">
          <div class="col-sm-2">
            <!-- <div class="form-group"> -->
            <label>Idea title:</label>
          </div>
          <div class="col-sm">
            <input #ideaTitle type="text" class="form-control" required placeholder="Title">
            <!-- </div> -->
          </div>
        </div>
        <br>

        <div class="form-group">
          <label>Description of your idea:</label>
          <textarea #ideaBio class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="6"
            placeholder="Describe what you want...."></textarea>
        </div>

        <div class="form-group">
          <label>Domain:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Select yours</label>
            </div>
            <select #ideaDomain class="custom-select" id="DomainSelector">
                <option value= {{domain.domain}} *ngFor=" let domain of allRealDomains.domain"> {{domain.domain}}</option>

              <!-- <option value="IT">IT</option>
              <option value="Tourism">Tourism</option> -->
            </select>
          </div>
        </div>

        <div class="form-group">
          <label>Sub-domain:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Select yours</label>
            </div>
             
            <select #ideaSubDomain class="custom-select" id="inputGroupSelect01">
              
              <option value= {{subDomain}} *ngFor=" let subDomain of allSubDomains"> {{subDomain}}</option>
              <!-- <option value="Application Development">Application Development</option>
              <option value="Software Development">Software Development</option>
              <option value="Website Development">Website Development</option>
              <option value="Hardware Development">Hardware Development</option>
              <option value="Automation Development">Automation Development</option>
              <option value="Robotics">Robotics</option>
              <option value="Mobile Development">Mobile Development</option>
              <option value="Cloud Configuration">Cloud Configuration</option>
              <option value="Website Development">Website Development</option>
              <option value="Cultural Tourism">Cultural Tourism</option>
              <option value="Medical Tourism">Medical Tourism</option>
              <option value="Wildlife Tourism">Wildlife Tourism</option> -->
            </select>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label>Your budget(in $) :</label>
          </div>
          <div class="col-sm-4">
            <input #ideaBudget type="text" class="form-control" required>
          </div>
        </div>

        
        <!-- Role here -->
        <tr>
          <td>
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Domain selection">
                <mat-chip *ngFor="let domain of domains" [selectable]="selectable" [removable]="removable"
                  (removed)="remove(domain)">
                  {{domain}}
                  <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
                </mat-chip>
                <input placeholder="Role" #domainInput [formControl]="domainCtrl" [matAutocomplete]="auto"
                  [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let domain of filteredDomains | async" [value]="domain">
                  {{domain}}
                </mat-option>

              </mat-autocomplete>
            </mat-form-field>
          </td>
        </tr>
        <!-- <div class="butt"> -->
          <button class="btn btn-primary mt auto" (click)="closeDialog()" data-toggle="modal"
            data-target="#cardDetail">CLOSE</button>
          <button mdBtn color="white"
            (click)="postIdea(ideaTitle.value,ideaBio.value,ideaDomain.value,ideaSubDomain.value,ideaBudget.value)"
            data-toggle="modal" data-target="#cardDetail" class="btn btn-primary mt auto">POST</button>
        <!-- </div> -->
          