
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<section class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Registration</h2>
        <form>
          <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
                <input #emailId name="" class="form-control" placeholder="Email address" type="email">
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
                  <input #password class="form-control" placeholder="Create password" type="password">
              </div> <!-- form-group// -->


      <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
            <input #name name="" class="form-control" placeholder="Full name" type="text">
        </div> <!-- form-group// -->

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-briefcase"></i></span>
             </div>
                <input #domain name="" class="form-control" placeholder="Domain" type="text">
            </div> <!-- form-group// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-briefcase"></i></span>
              </div>
              <mat-select #subDomains class="form-control" placeholder="Subdomain" multiple>
                <mat-option  *ngFor="let subDomain of subDomainList" [value]="subDomain">{{subDomain}}</mat-option>
             </mat-select>

              <button (click)="onClick(subDomains.value)" class="btn btn-outline-dark mt auto">Save</button>
      
              </div>

      
       
         

       

                              
        <div class="form-grouping">
            <!-- <button type="submit" class="btn btn-primary btn-block"> Create Account  </button> -->
            <button class="btnIdea btn btn-outline-dark mt auto" (click)="register(emailId.value,password.value,name.value,domain.value,subDomains.value)">Create Account</button>
        </div> <!-- form-group// -->      
        <p class="text-center">Have an account? <a href="/login">Log In</a> </p>                                                                 
    </form>
    </div>
    

    <div class="col-md-8 banner-sec">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
           <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
      <div class="carousel-inner" role="listbox">
<div class="carousel-item active">
<img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
<div class="carousel-caption d-none d-md-block">
  <div class="banner-text">
      <h2>This is Heaven</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
  </div>	
</div>
</div>
<div class="carousel-item">
<img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
<div class="carousel-caption d-none d-md-block">
  <div class="banner-text">
      <h2>This is Heaven</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
  </div>	
</div>
</div>
<div class="carousel-item">
<img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
<div class="carousel-caption d-none d-md-block">
  <div class="banner-text">
      <h2>This is Heaven</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
  </div>	
</div>
</div>
      </div>	   
  
</div>
</div>
</div>
</div>
</section>