<mat-toolbar color="primary"  class="fixed-header">
  <mat-toolbar-row>
  <span>CollabJunction</span>
    <div class="header">
      <span class="example-fill-remaining-space"></span>
      <span class="align-auto"></span>
      <span class="example-spacer"></span>
      
      <button mat-button>Home</button>
      <button mat-button>How It Works</button>
      <button mat-button routerLink='/register' routerLinkActive="active">Sign Up!</button>
      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu class="menu" #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Account settings</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <div class="card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput #userName placeholder="Username" name="userName" required>             
                </mat-form-field>
              </td>
            </tr>
            <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput #password placeholder="Password" type="password" name="password" required>
              
              <!-- <mat-icon class="visibility">visibility</mat-icon> -->
              </mat-form-field></td>
            </tr>
          </table>
          <a routerLink='/register' routerLinkActive="active">Not Registered yet? Click here!</a>
        </form>
      </mat-card-content>
      <div *ngIf = "loggedIn"> ***You Are the invalid User ***</div>
      <mat-card-actions>
        <button class="login-button" mat-raised-button (click)="authenticateUser(userName.value, password.value)" color="primary">Login</button>
      </mat-card-actions>
  </div>
</mat-card> 

  