.row{
    justify-content: space-evenly;

  }

  .encase{
    background: url('http://mithril-mdl.muchadev.com/assets/materialdesign.png');
  //  flex-wrap: wrap;
   height:100%;
   /* background-repeat: no-repeat;  */
   background-size: cover;
  //  display: flex;
   }

   .font-weight-bold{
     font-size: 24px;
   }

  
  