<div class="container">
        <div class="row rowTitle">
            <!-- <div class="col-sm"> -->
            <h2><b>
                    {{ideaDetail.title}}                </b>
            </h2>
            <!-- </div> -->
    
        </div>
        <hr>
        <div class="row">
            <div class="col-sm">
                <h2><b>
                        Description:
                    </b>
                </h2>
            </div>
            <div class="col-sm">
                <h4>
                        {{ideaDetail.description}}                </h4>
            </div>
    
        </div>
        <hr>
    
        <div class="row">
            <div class="col-sm">
                <h2><b>
                        Domain:
                    </b>
                </h2>
            </div>
            <div class="col-sm">
                <h4>
                        {{ideaDetail.domain}}                </h4>
            </div>
        </div>
        <hr>
    
        <div class="row">
            <div class="col-sm">
                <h2><b>
                        Sub-Domain:
                    </b>
                </h2>
            </div>
            <div class="col-sm">
                <h4>
                        {{ideaDetail.subDomain}}                </h4>
            </div>
        </div>
        <hr>
    
        <div class="row">
            <div class="col-sm">
                <h2><b>
                        Budget:
                    </b>
                </h2>
            </div>
            <div class="col-sm">
                <h4>
                        {{ideaDetail.budget}}                </h4>
            </div>
        </div>
        <hr>
    
        <div class="row">
            <div class="col-sm">
                <h2><b>
                        Posted on:
                    </b>
                </h2>
            </div>
            <div class="col-sm">
                <h4>
                    timestamp from backend comes here..
                </h4>
            </div>
        </div>
        <hr>
    
        <div class="row">
            <div class="col-sm">
                <h2><b>
                        Roles required:
                    </b>
                </h2>
            </div>
            <div class="col-sm">
                <h4>
                    roles from backend comes here..
                </h4>
            </div>
        </div>
        <hr>
    
        <h2>
            <b> Chosen Contributors...</b>
        </h2>
        <hr>
        <div class="row">
    
            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Role 1</h5>
                    <p class="card-text">Name:</p>
                    <p class="card-text">Email id:</p>
                    <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Role 2</h5>
                    <p class="card-text">Name:</p>
                    <p class="card-text">Email id:</p>
                    <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Role 3</h5>
                    <p class="card-text">Name:</p>
                    <p class="card-text">Email id:</p>
                    <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
            </div>
        </div>
    
        <hr>
        <h2>
            <b>
                Pending Contributor Applications...
            </b>
        </h2>
        <hr>
    
        <div class="row">
            <div class="card" *ngFor="let data of appliedSP" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Role 1</h5>
                    <p class="card-text">Name: {{data.name}}</p>
                    <p class="card-text">Email id:{{data.emailId}}</p>
                    <a (click)="onApprove(data.emailId)" class="btn btn-danger">APPROVE</a>
                    <a (click)="onReject(data.emailId)" class="btn btn-danger">REJECT</a>

                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Role 2</h5>
                    <p class="card-text">Name:</p>
                    <p class="card-text">Email id:</p>
                    <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Role 3</h5>
                    <p class="card-text">Name:</p>
                    <p class="card-text">Email id:</p>
                    <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
            </div>
        </div>
            <hr>
    </div>
    








