.row{
  justify-content: space-evenly;

}

body{
  height:100%;
}
.encase{
  background: url('http://mithril-mdl.muchadev.com/assets/materialdesign.png');
//  flex-wrap: wrap;
//  height:100%;
  // background-repeat: no-repeat; 
 background-size: cover;
//  display: flex;
 }

 .font-weight-bold{
   font-size: 24px;
 }

 .image{
   padding:5px;
  width: 50%;
  height: 50%;
  // margin-left: 20px;
  // margin-top: -10px;
 }

 @media (max-width: 740px) {
  body
   {
    height: 1000px;
  }
}

.desc
{
  font-size: 40px;
} 

.detail{
  padding-left: 30%;
}

.px-5{
  color:black;
  font-size:26px;
  font-weight: bold;
}

.navbar-brand
{
    font-size: 24px;
}

a{
  color: white;
  font-size: 24px;
}

.nav-item{

  color: white;
  font-size: 24px;
}

.col-lg-7
{
  padding-top: 5%
}